USE [master]
GO
/****** Object:  Database [InformationSecurity]    Script Date: 21-03-2025 10:39:55 AM ******/
CREATE DATABASE [InformationSecurity]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'InformationSecurity', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\InformationSecurity.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'InformationSecurity_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\InformationSecurity_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [InformationSecurity].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [InformationSecurity]
GO
/****** Object:  Table [dbo].[Company]    Script Date: 21-03-2025 10:39:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Company](
	[ID] [nvarchar](50) NOT NULL,
	[CompanyName] [nvarchar](200) NOT NULL,
	[Location] [nvarchar](200) NOT NULL,
	[Email] [nvarchar](250) NOT NULL,
	[LogoCompany] [nvarchar](2000) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[Password] [nchar](32) NOT NULL,
	[PublicKey] [nvarchar](max) NULL,
	[HasDownloadPrivateKey] [bit] NOT NULL,
	[SerialNumberCertificate] [nvarchar](350) NULL,
 CONSTRAINT [PK_Company] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[Company] ADD  CONSTRAINT [DF_Company_HasDownloadPrivateKey]  DEFAULT ((0)) FOR [HasDownloadPrivateKey]
GO
USE [master]
GO
